@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  background: #f4f0ff;
  color: #0b1c30;
  font-family: Arial, Helvetica, sans-serif;
}

button,
a {
  font: inherit;
}

.material-symbols-rounded {
  display: inline-block;

  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1;

  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;

  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga";

  font-variation-settings:
    "FILL" 0,
    "wght" 500,
    "GRAD" 0,
    "opsz" 24;
}

.material-symbols-filled {
  font-variation-settings:
    "FILL" 1,
    "wght" 600,
    "GRAD" 0,
    "opsz" 24;
}